<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="bootstrap :: head (page_title='oauth-server')">
<!-- This block will be replaced by template. -->
</head>
<body>
<div class="container">
	<div class="col-xs-12">

		<h1>Index Page</h1>
		<p>Welcome, <span th:text="${#authentication.name}">User Name</span>!</p>


		<form th:action="@{/logout}" method="post" role="form" sec:authorize="authenticated">
			<button class="btn btn-default" type="submit">Logout</button>
		</form>

		<a th:href="@{/login.html}" sec:authorize="anonymous" class="btn btn-primary">Login</a>

		<hr/>

		<a th:href="@{/roles}" sec:authorize="authenticated" class="btn btn-primary">角色管理</a>

		<a th:href="@{/users}" sec:authorize="authenticated" class="btn btn-primary">用户管理</a>

		<hr/>

		<a th:href="@{/grantTypes}" sec:authorize="authenticated" class="btn btn-primary">授权方式管理</a>

		<a th:href="@{/resourceIds}" sec:authorize="authenticated" class="btn btn-primary">资源ID管理</a>

	</div>
</div>
</body>
</html>