<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="bootstrap :: head (page_title='OAuth Error')">
</head>

<body>

	<div class="container">

		<h1>Sparklr OAuth2 Error</h1>

		<p>
			<span th:text="${message}"></span>
			(
			<span th:text="${error.summary}"></span>
			)
		</p>
		<p>Please go back to your client application and try again, or
			contact the owner and ask for support</p>

		<div class="footer">
			Sample application for <a
				href="http://github.com/spring-projects/spring-security-oauth"
				target="_blank">Spring Security OAuth</a>
		</div>


	</div>

</body>
</html>
